/* .editor h1 {
    font-size: 200px;
} */

/* .editor:focus {
    outline: none;
} */

/* .editor > *:focus-within {
    outline: 2px solid blue;
} */

/* pre {
    white-space: pre-wrap;
} */

code {
    /* display: block; makes it behave like a block element */
    white-space: pre-wrap; /* preserves newlines */
    /* font-family: monospace; ensures consistent spacing */
    /* background-color: var(--tw-prose-pre-bg); */
}

.selected {
    color: red;
}

/* .mdhtml .selected {
    content: attr(data-markdown);
} */

.rich {
    display: initial;
}

.md {
    display: none;
}

.selected .md{
    display: initial;
}

.selected > .rich  {
    display: none;
}

.prose code::before {
    content: none;
}

.prose code::after {
    content: none;
}

/* .editor:focus-within {
    outline: 2px solid green;
} */