@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@layer base {
  :root {
    --background: 150 44% 96%;
    --foreground: 278 45% 20%;
    
    --card: 150 44% 97%;
    --card-foreground: 278 45% 20%;
    
    --popover: 150 44% 97%;
    --popover-foreground: 278 45% 20%;
    
    --primary: 93 32% 41%;
    --primary-foreground: 150 44% 96%;
    
    --secondary: 150 67% 89%;
    --secondary-foreground: 278 45% 20%;
    
    --muted: 150 44% 92%;
    --muted-foreground: 278 45% 40%;
    
    --accent: 37 100% 51%;
    --accent-foreground: 278 45% 20%;
    
    --destructive: 347 82% 49%;
    --destructive-foreground: 150 44% 96%;
    
    --border: 150 44% 86%;
    --input: 150 44% 86%;
    --ring: 93 32% 41%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 278 45% 12%;
    --foreground: 150 44% 96%;
    
    --card: 278 45% 15%;
    --card-foreground: 150 44% 96%;
    
    --popover: 278 45% 15%;
    --popover-foreground: 150 44% 96%;
    
    --primary: 93 32% 41%;
    --primary-foreground: 150 44% 96%;
    
    --secondary: 278 45% 25%;
    --secondary-foreground: 150 44% 96%;
    
    --muted: 278 45% 20%;
    --muted-foreground: 150 44% 80%;
    
    --accent: 37 100% 51%;
    --accent-foreground: 278 45% 12%;
    
    --destructive: 347 82% 49%;
    --destructive-foreground: 150 44% 96%;
    
    --border: 278 45% 25%;
    --input: 278 45% 25%;
    --ring: 93 32% 41%;
  }
}
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 71% 18%;
    
    --card: 0 0% 98%;
    --card-foreground: 240 71% 18%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 71% 18%;
    
    --primary: 240 71% 18%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 184 52% 67%;
    --secondary-foreground: 240 71% 18%;
    
    --accent: 65 100% 48%;
    --accent-foreground: 240 71% 18%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 240 71% 18%;
    
    --radius: 0.5rem;
    
    --sidebar-background: 0 0% 98%;
    
    --sidebar-foreground: 240 5.3% 26.1%;
    
    --sidebar-primary: 240 5.9% 10%;
    
    --sidebar-primary-foreground: 0 0% 98%;
    
    --sidebar-accent: 240 4.8% 95.9%;
    
    --sidebar-accent-foreground: 240 5.9% 10%;
    
    --sidebar-border: 220 13% 91%;
    
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 240 71% 12%;     
    --foreground: 210 40% 98%;
    
    --card: 240 71% 14%;           
    --card-foreground: 210 40% 98%;
    
    --popover: 240 71% 14%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 240 71% 18%;       
    --primary-foreground: 210 40% 98%;
    
    --secondary: 184 52% 67%;       
    --secondary-foreground: 240 71% 18%;
    
    --accent: 65 100% 48%;          
    --accent-foreground: 240 71% 18%;
    
    --muted: 240 71% 16%;         
    --muted-foreground: 215 20.2% 65.1%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 240 71% 24%;         
    --input: 240 71% 24%;
    --ring: 184 52% 67%;                  --sidebar-background: 240 5.9% 10%;          --sidebar-foreground: 240 4.8% 95.9%;          --sidebar-primary: 224.3 76.3% 48%;          --sidebar-primary-foreground: 0 0% 100%;          --sidebar-accent: 240 3.7% 15.9%;          --sidebar-accent-foreground: 240 4.8% 95.9%;          --sidebar-border: 240 3.7% 15.9%;          --sidebar-ring: 217.2 91.2% 59.8%;
  }
} 

/* @layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {

    --background: 222.2 84% 4.9%;

    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;

    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;

    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;

    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;

    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;

    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;

    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;

    --input: 217.2 32.6% 17.5%;

    --ring: 212.7 26.8% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



